*.*#*
Grupos/12/Imported GATEWAY_Schematic.PrjPcb/History/GATEWAY_Schematic.~(1).PrjPcb.Zip
Grupos/12/Imported GATEWAY_Schematic.PrjPcb/__Previews/
Grupos/12/Imported GATEWAY_Schematic.PrjPcb/History/
